* {
    font-family: "Montserrat", serif;
}

body {
    margin: 0 auto;
}

.button {
    display: flex;
    justify-content: center;
    margin: 5% auto;
    text-align: center;

    & a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
        background-color: #025194;
        color: #fff;
        padding: 1rem;
        border-radius: 1.9rem;
        border: none;
    }

    & a:visited {
        color: #fff;
    }

    & a:link {
        color: #fff;
    }
}

@media (min-width: 1201px) {

    .h1Title {
        font-size: 5vw;
    }

    .h2Title {
        font-size: 2.5vw;
    }

    .h3Title {
        font-size: 1.5vw;
    }
}