.h1Title,
.h2Title,
.h3Title {
    margin: 0 auto;
    color: #025194;
    font-weight: 800;
}

.h1Title {
    font-size: 5rem;
}

.h2Title {
    font-size: 3rem;
}

.h3Title {
    font-size: 1rem;
}

.h2subTitle {
    margin: 0 auto;
    color: #025194;
    font-weight: 700;
}

.banner {
    position: static;
}

.imgBanner {
    background-position: 25% top;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: auto;
}

.title_banner {
    padding: 5% 5%;
    position: relative;
}

.subTitle {
    color: #025194;
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-top: 12vh;
}

#baseline {
    margin-top: 5%;
    color: #fff;
    background-color: #1C9CDA;
    width: 0.8rem;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 65%;
    align-items: normal;
    margin: 5% auto;
    text-align: center;

    & .para {
        text-align: justify;
    }

    & .etoile {
        position: absolute;
        margin-top: -11%;
        margin-left: 14%;
    }
}

.button {
    background: #025194;
    box-shadow: 2px 6px 6px #00000029;
    border-radius: 38px;
    border: none;
    opacity: 1;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 2%;
    margin-top: 1%;
}

@media (max-width: 705px) {

    .h1Title {
        font-size: 10vw;
    }

    .h2Title {
        font-size: 5vw;
    }

    .h3Title {
        font-size: 4vw;
    }

    .imgBanner {
        width: auto;
        height: 46%;
        overflow: hidden;
    }

    .title_banner {
        text-align: center;
        background: #ffffff70;
    }
}

@media (min-width: 706px) and (max-width: 1200px) {
    .title_banner {
        padding-left: 45vw;
    }

    .imgBanner {
        width: 125%;
        height: auto;
    }
}


@media (min-width: 1201px) {
    .title_banner {
        padding-left: 45vw;
    }
}