/* BANNIERE */
.imgBanner {
    background-position: 25% top;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: auto;
}

.title_banner {
    padding: 5% 5%;
}

#baseline {
    margin-top: 5%;
}

#baseline span {
    color: #fff;
    background-color: #1C9CDA;
    width: 0.8rem;
}

.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 65%;
    align-items: normal;
    margin: 5% auto;
    text-align: center;

    & .para {
        text-align: justify;
    }

    & img {
        position: absolute;
        margin-top: -11%;
        margin-left: 14%;
    }
}

@media (max-width: 705px) {

    .h1Title {
        font-size: 10vw;
    }

    .h2Title {
        font-size: 5vw;
    }

    .h3Title {
        font-size: 4vw;
    }

    .title_banner {
        text-align: center;
        background: #ffffff70;
    }
}




@media (min-width: 706px) and (max-width: 1200px) {
    .title_banner {
        padding-left: 45vw;
    }
}


@media (min-width: 1201px) {
    .title_banner {
        padding-left: 45vw;
    }
}