.footer {
    background-color: #1C9CDA;
    display: flex;
    height: 3rem;
    justify-content: space-evenly;
}

.logoFooter {
    display: flex;
    align-items: center;
    padding: 1.5%;
}

.menuFooter {
    align-content: center;
    color: white;
    margin: 0.4rem;
}

.linkFooter {
    font-size: 1vw;
    text-decoration: none;
}

.linkFooter:visited {
    color: #fff;
}

.linkFooter:link {
    color: #fff;
}


@media (max-width: 705px) {

    .footer {
        display: flex;
        height: auto;
    }

    .linkFooter {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5vw;

    }
}

@media (min-width: 706px) and (max-width: 1200px) {
    .footer {
        height: auto
    }

    .linkFooter {
        font-size: 2vw;
        text-decoration: none;
    }
}


@media (min-width: 1201px) {
    .footer {
        height: auto
    }

    .linkFooter {
        font-size: 1vw;
        text-decoration: none;
    }
}